@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
*{
    padding: 0;
    margin: 0;
}

/* body{    
    background: #74ebd5; 
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  
    background: linear-gradient(to right, #ACB6E5, #74ebd5); 
}   
*/

#wish-massage{
    display: none;
    justify-content: center;
    flex-wrap: wrap;
}

.textDiv{
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 60%;
    color: rgb(255, 255, 255, .6);
    text-align: center;
    padding-bottom: 10px;
    padding-left: 10px ;
    padding-right: 10px ;
    border-radius: 10px;
    font-family: 'Courgette', cursive;
}



.main-div{
    font-family: 'Courgette', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10%;
    width: 50%;
    text-align: center;
    color: white;
    margin: 0 auto;
}
h1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 70px;
    font-family: 'Italianno', cursive;
    color: rgb(0, 0, 0, .8);
}

.coundown{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    font-family: 'Courgette', cursive;
}

.coundown div{
    height: 90px;
    width: 90px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 10px;
    font-size: 2rem;
    border-radius: 10px;
}
 .span{
     font-size: 1rem;
 }

